
@{
    /**/

    Layout = null;
}

@using HRModel
@model salary_grantModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>query</title>
    <link rel="stylesheet" href="../../css/table.css" type="text/css" />
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/vue-2.4.0.js"></script>
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <style>
        body {
            background-color: #FFFFCC;
        }
    </style>
</head>
<body>
    <div id="div1">
        <table width="100%">
            <tr>
                <td colspan="2" style="text-align: left">
                    <font color="black">
                        您正在做的业务是：人力资源--薪酬标准管理--薪酬数据查询
                    </font>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: left">
                    薪酬单编号：@ViewBag.BH
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: left">
                    机构：
                    @ViewBag.JG
                </td>
            </tr>
            <tr>
                <td style="text-align: left">
                    本机构总人数: @ViewBag.Count &nbsp;&nbsp;&nbsp;
                    基本薪酬总数: @ViewBag.Money &nbsp;&nbsp;&nbsp;
                    实发总额:<span id="salarySum_sum"> @ViewBag.Fmoneys</span>
                </td>
                <td style="text-align: right;">
                    登记人: @ViewBag.Check_Name &nbsp;&nbsp;&nbsp;
                    登记时间：<span id="Tdate"> @ViewBag.Check_Time</span>&nbsp;&nbsp;&nbsp;
                </td>
            </tr>
        </table>
        <table width="100%" border="1" cellpadding=0 cellspacing=1
               bordercolorlight=#848284 bordercolordark=#eeeeee
               class="TABLE_STYLE1">
            <tr>
                <td class="TD_STYLE1" style="text-align:center">
                    <span>序号</span>
                </td>
                <td class="TD_STYLE1" style="text-align:center">
                    <span>档案编号</span>
                </td>
                <td class="TD_STYLE1" style="text-align:center">
                    <span>姓名</span>
                </td>
                <td class="TD_STYLE1" style="text-align:center;">
                    <span>薪资基本明细</span>
                </td>
                <td class="TD_STYLE1" width="7%" style="text-align:center">
                    奖励金额
                </td>
                <td class="TD_STYLE1" width="7%" style="text-align:center">
                    销售绩效总额
                </td>
                <td class="TD_STYLE1" width="7%" style="text-align:center">
                    应扣金额
                </td>
                <td class="TD_STYLE1" width="7%" style="text-align:center">
                    实发金额
                </td>
            </tr>
            @{
                var a = 0;
                List<salary_grant_detailsModel> list = ViewBag.LT;
                var Count = list;
                foreach (var item in list)
                {
                    a++;
                    <tr>
                        <td style="text-align:center">@a</td>
                        <td style="text-align:center">
                            @item.human_id
                        </td>
                        <td style="text-align:center">
                            @item.human_name
                        </td>
                        <td style="text-align:center">
                            <input type="hidden" value="@list.Count" id="Count" />
                            <a href="#" data-toggle="modal" data-target="#myModal" style="color:cornflowerblue;text-decoration:none" v-on:click="ById(@a)">详细内容</a>
                            @Html.HiddenFor(e => e.list1[a - 1].salary_standard_id, new { Value = item.salary_standard_id, @readonly = "readonly" })
                        </td>
                        <td style="text-align:center">@Html.TextBoxFor(e => e.list1[a - 1].bouns_sum, new { onkeyup = "onKeyPress('" + a + "')", @class = "INPUT_STYLE2", autocomplete = "off", style = "text-align:center", Value = item.bouns_sum, @readonly = "readonly" })</td>
                        <td style="text-align:center">@Html.TextBoxFor(e => e.list1[a - 1].sale_sum, new { onkeyup = "onKeyPress('" + a + "')", @class = "INPUT_STYLE2", autocomplete = "off", style = "text-align:center", Value = item.sale_sum, @readonly = "readonly" })</td>
                        <td style="text-align:center">@Html.TextBoxFor(e => e.list1[a - 1].deduct_sum, new { onkeyup = "onKeyPress('" + a + "')", @class = "INPUT_STYLE2", autocomplete = "off", style = "text-align:center", Value = item.deduct_sum, @readonly = "readonly" })</td>
                        <td style="text-align:center">
                            @Html.HiddenFor(e => e.list1[a - 1].salary_standard_sum, new { onkeyup = "onKeyPress('1')", @class = "INPUT_STYLE2", Value = item.salary_standard_sum, style = "text-align:center", autocomplete = "off", })
                            @Html.TextBoxFor(e => e.list1[a - 1].salary_paid_sum, new { onkeyup = "onKeyPress('1')", @class = "INPUT_STYLE2", Value = item.salary_paid_sum, style = "text-align:center", autocomplete = "off", @readonly = "readonly" })
                        </td>
                    </tr>
                }
            }
        </table>
        <br>
        <center>
            <input type="button" style="width: 80px;height: 35px;font-size: 20px;font-weight: bold;border-bottom-style: ridge;cursor: pointer" onclick="javascript:window.history.back();" value="返 回">
        </center>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close"
                                data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            薪资基本明细
                        </h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-bordered ">
                            <tr>
                                <td style="text-align:center">薪酬项目名称</td>
                                <td style="text-align:center">薪酬金额</td>
                            </tr>
                            <tr v-for="(item,index) in dt">
                                <td style="text-align:center">{{item.item_name}}</td>
                                <td style="text-align:center">{{item.salary }}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default"
                                data-dismiss="modal">
                            关闭
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var vm = new Vue({
            el: "#div1",
            data: {
                dt: []
            },
            methods: {
                ById: function (obj) {
                    var t = this;
                    var salary_standard_id = $("#list1_" + (obj - 1) + "__salary_standard_id").val();
                    $.ajax({
                        type: "post",
                        url: "/salaryGrant/ById",
                        data: "salary_standard_id=" + salary_standard_id,
                        success: function (date) {
                            t.dt = eval("(" + date + ")");
                        }
                    })
                }
            },
            mounted: function () {
            },
            filters: {
                cdate: function (zhi) {
                    var dt = new Date(zhi);
                    var y = dt.getFullYear();//获取年
                    var m = dt.getMonth() + 1;//获取月份
                    var d = dt.getDate();//获取天
                    var h = dt.getHours();
                    var f = dt.getSeconds();
                    var s = dt.getMinutes();
                    return y + "-" + m + "-" + d + " " + h + ":" + f + ":" + s;
                }
            }
        })
    </script>
</body>
</html>
